{
  "extends": [
    "eslint:recommended",
    "google",
    "prettier",
    "plugin:node/recommended"
  ],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "es2020": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "_": true
  },
  "rules": {
    "semi": [2, "never"],
    "no-console": "warn",
    "no-process-exit": "warn",
    "node/no-unpublished-import": "warn",
    "node/file-extension-in-import": ["error", "always"]
  }
}
